In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips')

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### PREGUNTA 1:

In [29]:
tips['tips_pct(%)'] = ((tips['tip'] / tips['total_bill'])*100)

In [30]:
tips.head()

   total_bill   tip     sex smoker  day    time  size  tips_pct  tips_pct(%)
0       16.99  1.01  Female     No  Sun  Dinner     2      5.94     5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3     16.05    16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3     16.66    16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2     13.98    13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4     14.68    14.680765

In [32]:
grouped_tips_by_size = tips.groupby('size', as_index=False)
result = grouped_tips_by_size.agg({'tips_pct': 'mean'})
result['tips_pct']=result['tips_pct'].round(2)
result

   size  tips_pct
0     1     21.73
1     2     16.57
2     3     15.21
3     4     14.59
4     5     14.15
5     6     15.62

### PREGUNTA 2:

In [33]:
grouped_tips_by_time = tips.groupby('time', as_index=False)
result = grouped_tips_by_time.agg({'tips_pct': 'mean'})
result['tips_pct']=result['tips_pct'].round(2)
result

C:\Users\carro\AppData\Local\Temp\ipykernel_10304\3909047915.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_tips_by_time = tips.groupby('time', as_index=False)

     time  tips_pct
0   Lunch     16.41
1  Dinner     15.95

In [35]:
grouped_tips_by_day = tips.groupby('day', as_index=False)
result = grouped_tips_by_day.agg({'tips_pct': 'mean'})
result['tips_pct']=result['tips_pct'].round(2)
result

C:\Users\carro\AppData\Local\Temp\ipykernel_10304\2715240506.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_tips_by_day = tips.groupby('day', as_index=False)

    day  tips_pct
0  Thur     16.13
1   Fri     16.99
2   Sat     15.31
3   Sun     16.69